<div class="slide-out-bg"></div>

<div class="slide-out">
  <div class="slide-out-card">
    {{#link-to "author" class="btn-back"}}
      <span class="sr-only">Back</span>
    {{/link-to}}

    <div class="slide-out-heading">
      <div class="title">
        <h3>Author Detail #{{model.id}}</h3>
      </div>
    </div>

    <div class="slide-out-content"></div>
  </div>
</div>
