<div class="slide-out-bg"></div>

<div class="slide-out">
  <div class="slide-out-card">
    <a href class="btn-back">
      <span class="sr-only">Back</span>
    </a>

    <div class="slide-out-heading">
      <div class="title">
        <h3>Author Detail</h3>
      </div>
    </div>

    <div class="slide-out-content"></div>
  </div>
</div>
