<div class="panel-heading">
  <div class="search">
    <input type="text" placeholder="Search by Author Name">
  </div>

  <a href>
    <div class="sr-only">Add New Author</div>
  </a>
</div>

<div class="panel-content">
  <h3 class="panel-title">Authors</h3>

  <ul class="collection">
    {{#each model as |author|}}
      <li>
        <a href>
          {{author.first}} {{author.last}}
        </a>
      </li>
    {{/each}}
  </ul>
</div>
